[Unit]
Description=Apache Tomcat
After=network.target

[Service]
Type=simple
User={{ tomcat_user }}
Group={{ tomcat_group }}
Environment="JAVA_HOME={{ java_home }}"
Environment="CATALINA_HOME={{ tomcat_install_dir }}"
Environment="CATALINA_BASE={{ tomcat_install_dir }}"
Environment="PATH={{ java_home }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/bin"
ExecStart={{ tomcat_install_dir }}/bin/catalina.sh run
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
